@model IEnumerable<Wblack.Transaction>

@foreach (var item in Model)
{
    String transactionDate = "00/00/0000";
    if (item.BankRecordedDate != null)
    {
        transactionDate = ((DateTime) item.BankRecordedDate).ToString("MM/dd/yyyy");
    }
    Decimal amount = item.BankRecordedAmt ?? 0;
    <tr>
        <td class="number">@transactionDate</td>
        <td class="text">@item.Entity.Description</td>
        <td class="text">@item.Category.Description</td>
        <td class="text">@item.Description</td>
        <td class="number">@amount</td>
        <td class=" number">@ViewBag.Balance</td>
    </tr>
    ViewBag.Balance -= amount;
}