@model IEnumerable<Wblack.Transaction>

@foreach (var item in Model)
{
    String transactionDate = item.TransactionDate.ToString("MM/dd/yyyy");
    Decimal amount = item.TransactionAmt + item.CashBack;
    ViewBag.Balance += item.TransactionAmt + item.CashBack;
    <tr>
        <td class="number">@transactionDate</td>
        <td class="text">@item.Entity.Description</td>
        <td class="text">@item.Category.Description</td>
        <td class="text">@item.Description</td>
        <td class="number">@amount</td>
        <td class=" number">@ViewBag.Balance</td>
    </tr>
}