@model IEnumerable<Bible.Verse>

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
    <h2>@ViewBag.Search</h2>
    <br />
    <h1>@ViewBag.Version</h1>
    <h2>@ViewBag.Translation</h2>
</hgroup>
@if (!Model.Any())
{
    <p>No results found.</p>
}
else
{
    foreach (var item in Model)
    {
        <p>
            <b>
                @Html.DisplayTextFor(modelitem => item.Book.Name)
                @Html.DisplayTextFor(modelitem => item.ChapterNumber):@Html.DisplayTextFor(modelItem => item.VerseNumber)
            </b>
            @if (item.SecondText != null)
            {
                @Html.DisplayTextFor(modelItem => item.Text)<text> </text>@Html.DisplayTextFor(modelItem => item.SecondText)
            }
            else
            {
                @Html.DisplayTextFor(modelItem => item.Text)
            }
        </p>
    }
}
