@model IEnumerable<Bible.Verse>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>
    @foreach (var item in Model)
    {
        if (item.SectionHeading != null)
        {
            <h2>
                @Html.DisplayTextFor(modelItem => item.SectionHeading)
            </h2>
            <br />
        }
        if (item.Pretext != null)
        {
            <h3>
                @Html.DisplayTextFor(modelItem => item.Pretext)
            </h3>
            <br />
        }
        <i>
            @Html.DisplayTextFor(modelItem => item.VerseNumber)
        </i>
        <text> </text>
        @Html.DisplayTextFor(modelItem => item.Text)
        <text> </text>
        if (item.MidVerseHeading != null)
        {
            <br/>
            <h2>
                @Html.DisplayTextFor(modelItem => item.MidVerseHeading)
            </h2> 
            <br/>
            @Html.DisplayTextFor(modelItem => item.SecondText)
            <text> </text>
        }
        if (item.IsParagraphEnd == true)
        {
            <br />
        }
    }
</p>
