<br />
<a href="#" onclick=" setTranslation(0) ">ASV Matches: @(ViewBag.ASV)</a>
<br />
<a href="#" onclick=" setTranslation(1) ">ESV Matches: @(ViewBag.ESV)</a>
<br />
<a href="#" onclick=" setTranslation(2) ">KJV Matches: @(ViewBag.KJV)</a>
<br />
<a href="#" onclick=" setTranslation(3) ">NASB Matches: @(ViewBag.NASB)</a>
<br />
<a href="#" onclick=" setTranslation(4) ">NIV Matches: @(ViewBag.NIV)</a>
<br />
<a href="#" onclick=" setTranslation(5) ">NKJV Matches: @(ViewBag.NKJV)</a>
<br />
<a href="#" onclick=" setTranslation(6) ">NLT Matches: @(ViewBag.NLT)</a>